
<form class="formulario" [formGroup]="userForm" (ngSubmit)="loginInSystem($event)">
    <img class="logo" src="../../../assets/img/Ev_vectorial.svg" alt="" srcset="">
    <h2>Entrar en Eventalia</h2>

    <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput type="email" placeholder="" value="">
    </mat-form-field><br>
    <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput type="password" placeholder="" value="">
    </mat-form-field><br>
    <button type="submit" [disabled]="userForm.invalid" mat-button mat-dialog-close >Entrar</button><br>
    <a href="#"  (click)="toRegister($event)">Registrar como Usuario</a>
</form>