<section class="imagen">
    <img [src]="organizacionSeleccionada.img" alt="" />
</section>
<section class="datos_organizacion">
    <h1>{{ organizacionSeleccionada.nombre }}</h1>
    <h2>{{ organizacionSeleccionada.web }}</h2>
    <h2>{{ organizacionSeleccionada.email_contacto }}</h2>
    <section class="descripcion">
        <p>{{ organizacionSeleccionada.descripcion }}</p>
    </section>

    <section class="eventos">
        <h2>Eventos organizados por ellos:</h2>
        <h3>Próximamente...</h3>
    </section>
   
    
    <section class="reacciones">
        <!-- Reportar -->
        <!-- Me interesa -->
    </section>
</section>
<!-- <section class="comentarios">
    <div class="comentario">
        <h3>Alban.loubet, el 13/05/2024, dijo:</h3>
        <p>Estoy deseando que llegue el día</p>
    </div>
    <div class="comentar">
        <mat-form-field class="comentario">
            <mat-label>Deja un comentario acerca del organizador</mat-label>
            <textarea
              matInput
              placeholder="Ex. It makes me feel..."
            ></textarea></mat-form-field
          ><br />
    </div>
</section> -->

