<section class="imagen">
    <!-- Aquí irá la imagen representativa del evento, en formato base64 -->
</section>
<section class="datos_organizacion">
    <h1>Casa de la Juventud Chiclana de la Frontera</h1>
    <h2>casadelajuventudchiclana.es</h2>
    <h2>info&#64;casadelajuventudchiclana.es</h2>
    <section class="descripcion">
        <p>Organización sin ánimo de lucro, bajo la dirección del Ayuntamiento de Chiclana, con el objetivo de guiar a los jóvenes de la localidad de Chiclana de la Frontera en sus circunstancias personales a todos los niveles.</p>
    </section>
   
    
    <section class="reacciones">
        <!-- Reportar -->
        <!-- Me interesa -->
    </section>
</section>
<!-- <section class="comentarios">
    <div class="comentario">
        <h3>Alban.loubet, el 13/05/2024, dijo:</h3>
        <p>Estoy deseando que llegue el día</p>
    </div>
    <div class="comentar">
        <mat-form-field class="comentario">
            <mat-label>Deja un comentario acerca del organizador</mat-label>
            <textarea
              matInput
              placeholder="Ex. It makes me feel..."
            ></textarea></mat-form-field
          ><br />
    </div>
</section> -->

