.datos_perfil{
    display: flex;
    width: 80%;
    margin: auto;
}

.datos_perfil img{
    width: 250px;
    height: 250px;
    object-fit: contain;
}

.lista_eventos{
    display: flex;
    justify-content: space-evenly;
}

.data{
  margin-left: 2rem;
}

.example-card{
    width: 23%;
}

img.uno, img.dos, img.tres, img.cuatro{
    width:100%;
    height: 18rem;
}

.estilosbtnprincipal{
    background-color: #E04700 !important;
    color: white !important;
    border-radius: 5rem;

    padding: 1rem;
}

.estilosbtnsecundario{
    background-color: #007DB8 !important;
    color: white !important;
    border-radius: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
}

.lista_eventos{
    display: flex;
    justify-content: space-evenly;
}

.lista_generos .genero{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.example-card, .personal_card{
    width: 23%;
}

.personal_card .imagen img{
    width:100%;
    height: 18rem;
}

.datos{
    text-align: center;
}

.hidden-btn{
    display: none;
}

.recomended_control{
    text-align: center;
}

.eventos_recomendados, .eventos_siguiendo, .eventos_creados{
    width: 90%;
    margin: auto;
}


@media only screen and (max-width: 426px) {
    .datos_perfil, .lista_eventos{
        flex-direction: column;
        align-items: center;
    }

    .example-card{
        width: 100%;
    }

    .personal_card{
        width: 100%;
    }
}
