<section class="datos_perfil">
    <img src="../../../assets/img/default_user.png" alt="">
    <div class="data">
        <h2>Alban Loubet</h2>
        <h3>alban.loubet</h3>
        <h3>Generos: Ocio, Literatura</h3>
        <button mat-flat-button class="estilosbtnprincipal" [routerLink]="['/añadirevento']">Crea un Evento</button>
        <button mat-flat-button class="estilosbtnprincipal" [routerLink]="['/admin']">Administrar Eventos</button>
        <!-- Botón para crear un nuevo evento (si es tu perfil) -->
    </div>
    <div class="seguir">
      <button mat-flat-button class="estilosbtnsecundario" >Seguir</button>
      <button mat-flat-button class="estilosbtnsecundario" style="display: none;">Dejar de seguir</button>
      <!-- Botón para seguir (Si no es tu perfil) -->
    </div>

</section>

<section class="eventos_siguiendo">
    <div class="head">
        <p>Últimamente, has seguido los siguientes eventos:</p>
        <!-- Button para mostrar todos en lugar de algunos -->
    </div>
    <div class="lista_eventos">
        <mat-card class="example-card">
            <mat-card-header class="uno">
              <mat-card-title>Feria del Caballo Jerez 2024</mat-card-title>
              <mat-card-subtitle>Ayuntamiento de Jerez</mat-card-subtitle>
            </mat-card-header>
            <img class="dos" mat-card-image src="../../../assets/img/feria-caballo-jerez.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content class="tres">
              <p>
                Recinto Ferial, Jerez de la Frontera, Cádiz
              </p>
            </mat-card-content>
            <mat-card-actions class="cuatro">
              <button mat-button [routerLink]="['/datosEvento']">Mas información</button>
              
            </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-header class="uno">
              <mat-card-title>Salón del Manga Chiclana 2024</mat-card-title>
              <mat-card-subtitle>Ayuntamiento de Chiclana de la Frontera</mat-card-subtitle>
            </mat-card-header>
            <img class="dos" mat-card-image src="../../../assets/img/salon-manga-chiclana.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content class="tres">
              <p>
                Sala Box, Chiclana de la frontera, Cádiz
              </p>
            </mat-card-content>
            <mat-card-actions class="cuatro">
              <button mat-button>Mas información</button>
              
            </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-header class="uno">
              <mat-card-title>Torneo de Ajedrez Verano 2024</mat-card-title>
              <mat-card-subtitle>Delegación de Cultura Provincia de Cádiz</mat-card-subtitle>
            </mat-card-header>
            <img class="dos" mat-card-image src="../../../assets/img/torneo-ajedrez.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content class="tres">
              <p>
                Casa de la Juventud, Cádiz, Cádiz
              </p>
            </mat-card-content>
            <mat-card-actions class="cuatro">
              <button mat-button>Mas información</button>
              
            </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-header class="uno">
              <mat-card-title>Torneo de Laser Tag</mat-card-title>
              <mat-card-subtitle>Casa de la Juventud Chiclana</mat-card-subtitle>
            </mat-card-header>
            <img class="dos" mat-card-image src="../../../assets/img/laser-tag.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content class="tres">
              <p>
                Sala Box, Chiclana de la frontera, Cádiz
              </p>
            </mat-card-content>
            <mat-card-actions class="cuatro">
              <button mat-button>Mas información</button>
              
            </mat-card-actions>
        </mat-card>
    </div>
</section>

<section class="eventos_creados">
    <div class="head">
        <p>Eventos que has creado:</p>
        <!-- Button para mostrar todos en lugar de algunos -->
    </div>
    <div class="lista_eventos">
        <mat-card class="example-card">
            <mat-card-header class="uno">
              <mat-card-title>Feria del Caballo Jerez 2024</mat-card-title>
              <mat-card-subtitle>Ayuntamiento de Jerez</mat-card-subtitle>
            </mat-card-header>
            <img class="dos" mat-card-image src="../../../assets/img/feria-caballo-jerez.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content class="tres">
              <p>
                Recinto Ferial, Jerez de la Frontera, Cádiz
              </p>
            </mat-card-content>
            <mat-card-actions class="cuatro">
              <button mat-button [routerLink]="['/datosEvento']">Mas información</button>
              
            </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-header class="uno">
              <mat-card-title>Salón del Manga Chiclana 2024</mat-card-title>
              <mat-card-subtitle>Ayuntamiento de Chiclana de la Frontera</mat-card-subtitle>
            </mat-card-header>
            <img class="dos" mat-card-image src="../../../assets/img/salon-manga-chiclana.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content class="tres">
              <p>
                Sala Box, Chiclana de la frontera, Cádiz
              </p>
            </mat-card-content>
            <mat-card-actions class="cuatro">
              <button mat-button>Mas información</button>
              
            </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-header class="uno">
              <mat-card-title>Torneo de Ajedrez Verano 2024</mat-card-title>
              <mat-card-subtitle>Delegación de Cultura Provincia de Cádiz</mat-card-subtitle>
            </mat-card-header>
            <img class="dos" mat-card-image src="../../../assets/img/torneo-ajedrez.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content class="tres">
              <p>
                Casa de la Juventud, Cádiz, Cádiz
              </p>
            </mat-card-content>
            <mat-card-actions class="cuatro">
              <button mat-button>Mas información</button>
              
            </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-header class="uno">
              <mat-card-title>Torneo de Laser Tag</mat-card-title>
              <mat-card-subtitle>Casa de la Juventud Chiclana</mat-card-subtitle>
            </mat-card-header>
            <img class="dos" mat-card-image src="../../../assets/img/laser-tag.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content class="tres">
              <p>
                Sala Box, Chiclana de la frontera, Cádiz
              </p>
            </mat-card-content>
            <mat-card-actions class="cuatro">
              <button mat-button>Mas información</button>
              
            </mat-card-actions>
        </mat-card>
    </div>
</section>