.title{
    text-align: center;
}

.content{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;
    padding-bottom: 3rem;
}

.filters{
    width: 50%;
}



.filters mat-form-field{
    width: 70%;
}

.listed_control{
    text-align: center;
    margin:auto;
}

.results{
    width: 50%;
}

.results .btnreiniciar{
    background-color: #007DB8;
    margin: auto;
    width: fit-content;
    display: block;
    color: white;
}

.buscando {
    display:flex;
    justify-content: center;
}

.results .evento{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 15rem;
}

.results .evento img{
    width: 140px;
    height: 140px;
}

.results .evento .datosEvento{
    display: flex;
    width: 20rem;
    height: 10rem;
    flex-direction: column;
    justify-content: center;
}

.estilosbtnsecundario{
    background-color: #007DB8;
    color: white;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
}

.generos{
    display: flex;
    flex-direction: column;
}

.results .btnreiniciar.filter_responsive{
    display: none;
}

@media only screen and (max-width: 425px) {

    .content{
        display: flex;
        justify-content: center;
        /* display: flex;
        width: 80%;
        margin: auto;
        justify-content: space-around;
        padding-bottom: 3rem;
        flex-direction: column;
        align-items: center; */
        height: 105rem;
    }

    mat-drawer{
        height: 100%;
    }

    .results .btnreiniciar.filter_responsive{
        display: block;
    }

    .filters{
        display: none;
    }

    .results .evento{
        flex-direction: column;
        width: 2rem;
    }

    .lista_eventos{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8rem;
    }

    .evento{
        flex-direction: column;
        width: 2rem;
    }

    .results{
        /* height: fit-content; */
    }

    .results .evento .datosEvento{
        height: 30rem;
    }




}