<mat-toolbar>
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer class="toggleMenu" #drawer mode="side">
      <button mat-raised-button (click)="openDialog('0ms', '0ms');drawer.toggle()" >Login</button>
      
    </mat-drawer>
    <mat-drawer-content>
      <button mat-icon-button class="example-icon burguer" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
        <mat-icon class="iconoBurguer" >menu</mat-icon>
      </button>
    </mat-drawer-content>
  </mat-drawer-container>
    <!-- <button mat-icon-button class="example-icon burguer" aria-label="Example icon-button with menu icon">
      <mat-icon class="iconoBurguer" >menu</mat-icon>
    </button> -->
    <span class="spacer"></span>
    <span><a [routerLink]="['/home']"><img class="logo" src="../../../assets/img/Ev_vectorial.svg" alt="" srcset=""></a></span>
    <span class="example-spacer"></span>
</mat-toolbar>