<mat-toolbar>
  <!-- <mat-drawer-container class="example-container" autosize>
    <mat-drawer class="toggleMenu" #drawer mode="side">
      <button mat-raised-button (click)="openDialog('0ms', '0ms');drawer.toggle()" >Login</button>
      
    </mat-drawer>
    <mat-drawer-content>
      <button mat-icon-button class="example-icon burguer" aria-label="Example icon-button with menu icon" (click)="openDialog('0ms', '0ms')>
        <mat-icon class="iconoBurguer" >menu</mat-icon>
      </button>
    </mat-drawer-content>
  </mat-drawer-container> -->
    <!-- <button mat-icon-button class="example-icon burguer" aria-label="Example icon-button with menu icon">
      <mat-icon class="iconoBurguer" >menu</mat-icon>
    </button> -->
    
    
    <span><a [routerLink]="['/home']"><img class="logo" src="../../../assets/img/Ev_vectorial.svg" alt="" srcset=""></a></span>
    
    <button mat-icon-button class="example-icon burguer" [matMenuTriggerFor]="beforeMenu" aria-label="Example icon-button with menu icon" >
      <mat-icon class="iconoBurguer" >menu</mat-icon>
    </button>

    <button mat-icon-button class="example-icon burguer" [matMenuTriggerFor]="profileMenu" aria-label="Example icon-button with menu icon" style="display: none;">
      <mat-icon class="iconoBurguer" >account_circle</mat-icon>
    </button>

    
<mat-menu #beforeMenu="matMenu" xPosition="before">
  <button mat-menu-item (click)="openDialog('0ms', '0ms')">Login</button>
  <button mat-menu-item (click)="openDialogRegister('0ms', '0ms')">Registrarse</button>
</mat-menu>

<mat-menu #profileMenu="matMenu" xPosition="before">
  <button mat-menu-item (click)="openDialog('0ms', '0ms')">Perfil</button>
  <button mat-menu-item (click)="openDialogRegister('0ms', '0ms')">Cerrar Sesión</button>
</mat-menu>
</mat-toolbar>
