.formulario-admin{
    width: 80%;
    margin: auto;
    height: 80vh;
}

.filters{
    margin-bottom: 2rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.typeofdataselect{
    width: 40%;
}

.contentfilter{
    width: 50%;
}

.listed_control{
    display: flex;
    justify-content: center;
}

.results{
    width: 100%;
}



.results .btnreiniciar{
    background-color: #007DB8;
    margin: auto;
    width: fit-content;
    display: block;
    color: white;
}

.buscando {
    display:flex;
    justify-content: center;
}

.results .evento{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 20rem;
    gap: 1.5rem;
    text-align: center;
}

.results .evento img{
    width: 140px;
    height: 140px;
}

.results .evento .datosEvento{
    display: flex;
    width: 20rem;
    height: 10rem;
    flex-direction: column;
    justify-content: center;
}

.estilosbtnsecundario{
    background-color: #007DB8;
    color: white;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
}

.generos{
    display: flex;
    flex-direction: column;
}

.lista_eventos{
    display: flex;
}

.lista_eventos .evento{
    display: flex;
    flex-direction: column;
}
.opciones{
    display: flex;
}

@media only screen and (max-width: 425px) {

    .lista_eventos{
        display: flex;
        flex-direction: column;
        height: 80vh;
    }

    .formulario-admin{
        width: 80%;
        margin: auto;
        height: 90rem;
    }

    .filters{
        width: 100%;
        flex-direction: column;
    }

    .typeofdataselect, .contentfilter{
        width: 100%;
    }

    .results .evento{
        margin-bottom: 2rem;
    }

    .opciones{
        display: flex;
    }

    ul.ngx-pagination{
        padding-inline-start: 0 !important;
    }

}