<section class="registerOrg">
  <form
    (submit)="registrar($event)"
    [formGroup]="myForm"
    class="formulario_registro"
  >
    <div class="izquierda">
      <h3>
        Registra tu organización en Eventalia y empieza a publicar tus eventos
      </h3>
      <mat-form-field class="example-full-width">
        <mat-label>Nombre (de 10 a 30 caracteres)</mat-label>
        <input
          formControlName="name"
          matInput
          type="text"
          placeholder=""
          value=""
        /> </mat-form-field
      >@if(myForm.get('name')?.hasError('required') &&
      myForm.get('name')!.touched){
      <div class="errormessage">Se requiere nombre de organización</div>
      }@if(myForm.get('name')?.hasError('minlength') &&
      myForm.get('name')?.touched){
      <div class="errormessage">El nombre de la organización es muy corto</div>
      } @if(myForm.get('name')?.hasError('maxlength') &&
      myForm.get('name')?.touched){
      <div class="errormessage">
        El nombre de la organización es demasiado largo
      </div>
      }<br />
      <mat-form-field class="example-full-width">
        <mat-label
          >Describe la actividad de tu organización (entre 10 y 500
          caracteres):</mat-label
        >
        <textarea
          formControlName="description"
          rows="8"
          matInput
          placeholder="Ex. It makes me feel..."
        ></textarea></mat-form-field
      >@if(myForm.get('description')?.hasError('required') &&
      myForm.get('description')!.touched){
      <div class="errormessage">
        Se requiere descripción de la actividad de la organización
      </div>
      }@if(myForm.get('description')?.hasError('minlength') &&
      myForm.get('description')?.touched){
      <div class="errormessage">
        La descripción de tu actividad es muy corta
      </div>
      } @if(myForm.get('description')?.hasError('maxlength') &&
      myForm.get('description')?.touched){
      <div class="errormessage">
        La descripción de tu actividad es demasiado larga
      </div>
      }<br />
      <mat-form-field class="example-full-width">
        <mat-label>Sitio Web (de 10 a 40 caracteres)</mat-label>
        <input
          formControlName="webpage"
          matInput
          type="text"
          placeholder=""
          value=""
        /> </mat-form-field
      >@if(myForm.get('webpage')?.hasError('required') &&
      myForm.get('webpage')!.touched){
      <div class="errormessage">Ingresa la página web de tu organización</div>
      }@if(myForm.get('webpage')?.hasError('minlength') &&
      myForm.get('webpage')?.touched){
      <div class="errormessage">La página web es muy corta</div>
      } @if(myForm.get('webpage')?.hasError('maxlength') &&
      myForm.get('webpage')?.touched){
      <div class="errormessage">La página web es demasiado larga</div>
      }<br />
      <mat-form-field class="example-full-width">
        <mat-label>Email (entre 10 y 40 caracteres)</mat-label>
        <input
          formControlName="email"
          matInput
          type="email"
          placeholder=""
          value=""
        /> </mat-form-field
      >@if(myForm.get('email')?.hasError('required') &&
      myForm.get('email')!.touched){
      <div class="errormessage">Introduce un email válido</div>
      }@if(myForm.get('email')?.hasError('minlength') &&
      myForm.get('email')?.touched){
      <div class="errormessage">El email es muy corto</div>
      } @if(myForm.get('email')?.hasError('maxlength') &&
      myForm.get('email')?.touched){
      <div class="errormessage">El email es demasiado largo</div>
      }<br />
      <mat-form-field class="example-full-width">
        <mat-label>Password (de 8 a 25 caracteres)</mat-label>
        <input
          formControlName="password"
          matInput
          type="password"
          placeholder=""
          value=""
        /> </mat-form-field
      >@if(myForm.get('password')?.hasError('required') &&
      myForm.get('password')!.touched){
      <div class="errormessage">Introduce una contraseña válida</div>
      }@if(myForm.get('password')?.hasError('minlength') &&
      myForm.get('password')?.touched){
      <div class="errormessage">La contraseña es muy corta</div>
      } @if(myForm.get('password')?.hasError('maxlength') &&
      myForm.get('password')?.touched){
      <div class="errormessage">La contraseña es demasiado larga</div>
      }<br />
      <mat-form-field class="example-full-width">
        <mat-label>Repetir Password (de 8 a 25 caracteres)</mat-label>
        <input
          matInput
          formControlName="repeatpassword"
          type="password"
          placeholder=""
          value=""
        /> </mat-form-field
      >@if(myForm.get('repeatpassword')?.hasError('required') &&
      myForm.get('repeatpassword')?.touched){
      <div class="errormessage">Repite la contraseña de arriba</div>
      }@if(myForm.get('repeatpassword')?.hasError('minlength') &&
      myForm.get('repeatpassword')?.touched){
      <div class="errormessage">La contraseña es muy corta</div>
      } @if(myForm.get('repeatpassword')?.hasError('maxlength') &&
      myForm.get('repeatpassword')?.touched){
      <div class="errormessage">La contraseña es demasiado larga</div>
      } @if(!myForm.get('repeatpassword')?.hasError('required') &&
      myForm.get('repeatpassword')?.value != myForm.get('password')?.value){
      <div class="errormessage">Las contraseñas no son idénticas</div>
      }<br />
    </div>
    <div class="derecha">
      <input
        type="file"
        #findImage
        name="imagen"
        id=""
        (change)="handleImageUpload($event)"
        style="display: none"
      />
      <button
        mat-flat-button
        class="estilosbtnsecundario"
        (click)="buscarImagen($event)"
      >
        Añadir imagen
      </button>

      <img
        class="imgPerfil"
        [src]="imagenCargada"
        alt="imagenGuardada"
        srcset=""
      /><br />
    </div>

    <div class="generos">
      <h3 class="titulogeneros">
        Indique aquellos géneros con los cuales se asocie mejor la actividad de
        su organización:
      </h3>
      <div class="generos_uno">
        <mat-checkbox
          class="example-margin"
          value="1"
          (change)="selectTheme($event)"
          >Literatura</mat-checkbox
        >
        <mat-checkbox
          class="example-margin"
          value="2"
          (change)="selectTheme($event)"
          >Viajes</mat-checkbox
        >
        <mat-checkbox
          class="example-margin"
          value="3"
          (change)="selectTheme($event)"
          >Tiempo Libre</mat-checkbox
        >
        <mat-checkbox
          class="example-margin"
          value="4"
          (change)="selectTheme($event)"
          >Deportes</mat-checkbox
        >
      </div>
      <div class="generos_dos">
        <mat-checkbox
          class="example-margin"
          value="5"
          (change)="selectTheme($event)"
          >Videojuegos</mat-checkbox
        >
        <mat-checkbox
          class="example-margin"
          value="6"
          (change)="selectTheme($event)"
          >Reuniones Sociales</mat-checkbox
        >
        <mat-checkbox
          class="example-margin"
          value="7"
          (change)="selectTheme($event)"
          >Cultura</mat-checkbox
        >
        <mat-checkbox
          class="example-margin"
          value="8"
          (change)="selectTheme($event)"
          >Tecnologías</mat-checkbox
        >
      </div>
      <div class="generos_tres">
        <mat-checkbox
          class="example-margin"
          value="9"
          (change)="selectTheme($event)"
          >Artes Escénicas</mat-checkbox
        >
        <mat-checkbox
          class="example-margin"
          value="10"
          (change)="selectTheme($event)"
          >Ocio</mat-checkbox
        >
        <mat-checkbox
          class="example-margin"
          value="11"
          (change)="selectTheme($event)"
          >Negocios</mat-checkbox
        >
        <mat-checkbox
          class="example-margin"
          value="12"
          (change)="selectTheme($event)"
          >Otros</mat-checkbox
        >
      </div>
    </div>

    <div class="opciones">
      <input
        type="submit"
        [disabled]="myForm.invalid"
        value="Únete a Eventalia"
      />
      <button
        mat-flat-button
        class="estilosbtnsecundario"
        (click)="iraEventos($event)"
      >
        Ver todos los eventos
      </button>
    </div>
  </form>
</section>
