.registerOrg{
    width: 80%;
    margin: auto;
}

.formulario_registro{
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(12, auto);
}

.izquierda{
    grid-column: 1 / 6;
    grid-row: 1;
    width: 100%;
}

.izquierda mat-form-field{
    width: 100%;
}

textarea{
    resize: none;
}

.derecha{
    grid-column: 7 / 12;
    grid-row: 1;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

.generos{
    grid-column: 1 / 8;
    grid-row: 2;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(4, auto);
    flex-direction: column;
    width: 50rem;
}

.generos_uno{
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(4, 1fr);
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.generos_dos{
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(4, 1fr);
    grid-column: 1 / 4;
    grid-row: 2/3;
}

.generos_tres{
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(4, 1fr);
    grid-column: 1 / 4;
    grid-row: 3/4;
}

.opciones{
    grid-column: 9 / 12;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.terminos{
    grid-column: 1 / 12;
    grid-row: 3;
}

.imgPerfil{
    width: 100px;
    height: 100px;
}

input[type="submit"]{
    background-color: #E04700;
    color: white;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
}

input[type="submit"]:hover{
    background-color: #a53907;
    cursor: pointer;
}


.estilosbtnsecundario{
    background-color: #007DB8 !important;
    color: white !important;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
}
