<section class="imagen">
  <img [src]="eventoSeleccionado.img" alt="" />
</section>
<section class="datos_evento">
  <section class="izq">
    <h1>{{ eventoSeleccionado.nombre }}</h1>
    <h2>
      <a
        [routerLink]="['/datosOrganizacion', eventoSeleccionado.id_organizador]"
        >Organiza: {{ eventoSeleccionado.organizador }}</a
      >
    </h2>

    @if(eventoSeleccionado.fecha===eventoSeleccionado.fecha_fin){
    <h2>Fecha: {{ eventoSeleccionado.fecha }}</h2>
    }@else{
    <h2>
      Fecha: del {{ eventoSeleccionado.fecha }} al
      {{ eventoSeleccionado.fecha_fin }}
    </h2>
    }
    <h2>Hora: {{ eventoSeleccionado.hora }}</h2>
    <section class="lugar">
      <a href="#" (click)="modalLugar($event)">
        Lugar: {{ eventoSeleccionado.lugar }}</a
      >
    </section>
    <section class="precio">
      @if(eventoSeleccionado.precio===0){
      <h3>Entrada: Gratuita.</h3>
      } @else{
      <h3>Entrada: {{ eventoSeleccionado.precio }} €.</h3>
      }
    </section>
    <section class="descripcion">
      <pre>{{ eventoSeleccionado.descripcion }}</pre>
      <p></p>
    </section>

    <section class="generos">
      Etiquetas: @for (genero of eventoSeleccionado.generos; track genero.id) {
      <span>{{ genero.denominacion }}</span
      >, }
    </section>
  </section>
  <section class="der">
    <section class="reacciones">
      @if(rol==1 && !participatingInEvent){
      <button mat-flat-button class="estilosbtnsecundario" (click)="seguir()">
        Seguir
      </button>
      } @if(rol==1 && participatingInEvent){
      <button mat-flat-button class="estilosbtnsecundario" (click)="seguir()">
        Dejar de seguir
      </button>
      }

      <!-- Reportar -->
      <!-- Me interesa -->
    </section>
  </section>
</section>
<section class="eventos_relacionados">
  <!-- Podemos cargar 3 eventos del mismo género, si existen y aún no han terminado -->
</section>
