h1{
  font-size: 31px;
}

.imagen img{
    width: 100%;
    height: 285px;
    object-fit: cover;
    object-position: center;
}

.datos_evento{
    display: flex;
    justify-content: space-between;
    height: fit-content;
    margin-bottom: 3rem;
}

.datos_evento .der .reacciones button{
    margin-top: 2rem;
}

.datos_evento, .comentarios{
    width: 80%;
    margin: auto;
    margin-bottom: 3rem;
}

.comentar{
    width: 100%;
    margin: auto;

}

pre{
  font-family: Roboto, "Helvetica Neue", sans-serif;

}

.comentar mat-form-field{
    height: 10rem;
    width: 100%;
    resize: none;
}

.estilosbtnsecundario{
    background-color: #007DB8 !important;
    color: white !important;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
}

@media only screen and (max-width: 426px) {

  .datos_evento{
    width: 100px;
    margin: 0;
    margin-left: 2rem;
    margin-bottom: 3rem;
  }

  .izq{
    width: 300px;
  }

  .izq .descripcion pre{
    width: 300px;
    white-space: pre-wrap
  }


}

