<section class="imagen">
  <img [src]="eventoSeleccionado.img" alt="" />
</section>
<section class="datos_evento">
  <section class="izq">
    <h1>{{ eventoSeleccionado.nombre }}</h1>
    <h2>
      <a [routerLink]="['/datosOrganizacion', eventoSeleccionado.id_organizador]"
        >Organiza: {{ eventoSeleccionado.organizador }}</a
      >
    </h2>
    <h2>Fecha: 30/04/2024</h2>
    <h2>Hora: 17:00</h2>
    <section class="lugar">
      
      <a href="#" (click)="modalLugar($event)">
        Lugar: {{eventoSeleccionado.direccion}}</a>
    </section>
    <section class="descripcion">
      <p>{{eventoSeleccionado.descripcion}}</p>
    </section>
    
    <section class="generos">
      Etiquetas: 
      @for (genero of eventoSeleccionado.generos; track genero.id) {
        <span>{{genero.denominacion}}</span>,
      }
    </section>
  </section>
  <section class="der">
    <section class="reacciones">
      <button
          mat-flat-button
          class="estilosbtnsecundario"
        >
          Seguir
        </button>
      <!-- Reportar -->
      <!-- Me interesa -->
    </section>
  </section>
  
  
</section>
<section class="comentarios">
  <div class="comentario">
    <h3>Alban.loubet, el 13/05/2024, dijo:</h3>
    <p>Estoy deseando que llegue el día</p>
  </div>
  <div class="comentar">
    <mat-form-field class="comentario">
        <mat-label>Deja un comentario acerca del evento</mat-label>
        <textarea
          matInput
          placeholder="Ex. It makes me feel..."
        ></textarea></mat-form-field
      ><br />
      <button
          mat-flat-button
          class="estilosbtnsecundario"
        >
          Comentar
        </button>
  </div>
</section>


