<section class="imagen">
  <img src="../../../assets/img/laser-tag.jpg" alt="" />
</section>
<section class="datos_evento">
  <h1>Torneo de Laser Tag</h1>
  <h2>
    <a [routerLink]="['/datosOrganizacion', 1]"
      >Organiza: Casa de la Juventud</a
    >
  </h2>
  <h2>Fecha: 30/04/2024</h2>
  <h2>Hora: 17:00</h2>
  <section class="descripcion">
    <p>
      Gran torneo de Laser Tag, con motivo de la llegada de la primavera, en
      Chiclana de la Frontera. Para apuntarse como participante, puede
      inscribirse en la web oficial del toreo:
    </p>

    <p>www.lasertagtournament2024.chicolanadelafrontera.com</p>

    <p>
      Inscripción gratuita, excepto fianza de 5 € por los equipos. La finaza se
      devolverá al concluir el torneo. Premio asegurado solo por participar. A
      partir de 10 años.
    </p>
  </section>
  <section class="lugar">
    Lugar: Sala Box Recinto Ferial de Chiclana de la Frontera, nave 2 Chiclana
    de la Frontera Cádiz
  </section>
  <section class="generos">
    Etiquetas: Ocio, Deportes, Actividades al aire libre.
  </section>
  <section class="reacciones">
    <!-- Reportar -->
    <!-- Me interesa -->
  </section>
</section>
<section class="comentarios">
  <div class="comentario">
    <h3>Alban.loubet, el 13/05/2024, dijo:</h3>
    <p>Estoy deseando que llegue el día</p>
  </div>
  <div class="formulario">
    <!-- Aquí irá un formulario de comentarios -->
  </div>
</section>
