.registerUser{
    width: 80%;
    margin: auto;
}

.formulario_registro{
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(12, auto);
}

.izquierda{
    grid-column: 1 / 6;
    grid-row: 1;
    width: 150%;
}

.izquierda mat-form-field{
    width: 125%;
}

.derecha{
    grid-column: 7 / 12;
    grid-row: 1;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: auto;
}

.generos{
    grid-column: 1 / 8;
    grid-row: 2;
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(4, auto);
    flex-direction: column;
    width: 50rem;
}

.titulogeneros{
  grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.generos_uno{
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(4, 1fr);
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

.generos_dos{
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(4, 1fr);
    grid-column: 1 / 4;
    grid-row: 3/4;
}

.generos_tres{
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(4, 1fr);
    grid-column: 1 / 4;
    grid-row: 4/5;
}

.opciones{
    grid-column: 9 / 12;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.terminos{
    grid-column: 1 / 12;
    grid-row: 3;
}

.imgPerfil{
    width: 300px;
    height: 300px;
    object-fit: contain;
}

.formulario{
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
}

.derecha{
    /* display: flex;
    flex-direction: column-reverse;
    align-items: center; */
}

input[type="submit"]{
    background-color: #E04700;
    color: white;
    border: none;
    padding: .7rem;
    border-radius: 1rem;
    width: 12.2rem;
    margin-bottom: 1rem;
}

input[type="submit"]:hover{
    background-color: #a53907;
    cursor: pointer;
}

input[type="submit"]:disabled{
  background-color: #593f33;
  cursor: pointer;
}

input[type="submit"]:disabled:hover{
  cursor:default;
}

.errormessage{
  font-size: 1rem;
  color: red;
}



.estilosbtnsecundario{
    background-color: #007DB8 !important;
    color: white !important;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
}

@media only screen and (max-width: 426px) {

    .formulario_registro{
        /* width: 100%; */
        display: grid;
        /* justify-content: center; */
        grid-template-rows: repeat(15, auto);
        grid-template-columns: repeat(1, auto);
        justify-items: center;
    }

    .derecha{
        grid-column: 1;
        grid-row: 5 / 8;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width: 300px;
    }

    .derecha button{
        /* margin-left: 2rem; */
    }

    .izquierda{
        grid-column: 1;
        grid-row: 1/4;
        width: 300px;
    }

    .izquierda mat-form-field{
        width: 18rem;
    }

    .generos{
        grid-column: 1;
        grid-row: 9/12;
        display: flex;
    }

    .opciones{
        grid-column: 1;
        grid-row: 13/15;
        width: 300px;
        align-items: center;
    }

    .titulogeneros{
      width: 300px;
    }

    .generos{
      width: 300px;
    }

    .generos_uno, .generos_dos, .generos_tres{
      display: flex;
      flex-direction: column;
    }

    mat-checkbox{
      width: 200px;
    }

    .opciones{
      margin-bottom: 2rem;
    }


}
