.imgPerfil{
    width: 100px;
    height: 100px;
}

.formulario{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.derecha{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

input[type="submit"]{
    background-color: #E04700;
    color: white;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
}

input[type="submit"]:hover{
    background-color: #a53907;
    cursor: pointer;
}


.estilosbtnsecundario{
    background-color: #007DB8;
    color: white;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
}