<h3>Registrate en Eventalia. ¡Es gratis!</h3>

<form (submit)="registrar()" class="formulario">
    <div class="izquierda">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id=""><br>
        <label for="apellidos">Apellidos</label>
        <input type="text" name="apellidos" id=""><br>
        <label for="nick">Nombre de Usuario</label>
        <input type="text" name="nick" id=""><br>
        <label for="email">Email</label>
        <input type="email" name="email" id=""><br>
        <label for="pass">Password</label>
        <input type="password" name="pass" id=""><br>
        <label for="pass2">Repetir Password</label>
        <input type="password" name="pass2" id=""><br>
        <input type="submit" value="Únete a Eventalia">
    </div>
    <div class="derecha">
        <label for="imagen">Añadir imagen: </label>
        <input type="file" name="imagen" id="" (change)="handleImageUpload($event)">
        <img class="imgPerfil" [src]="imagenCargada" alt="imagenGuardada" srcset=""><br>
    </div>
   
</form>