<section class="registerUser">
  <!-- Añadir a estos formularios el FormGorup y el FormBuilder -->
  <form
    (submit)="registrar($event)"
    [formGroup]="myForm"
    class="formulario_registro"
  >
    <div class="izquierda">
      <h2>Registrate en Eventalia. ¡Es gratis!</h2>
      <mat-form-field class="example-full-width">
        <mat-label>Nombre</mat-label>
        <input
          formControlName="name"
          matInput
          type="text"
          placeholder=""
          value=""
        /> </mat-form-field
      >@if(myForm.get('name')?.hasError('required') &&
      myForm.get('name')?.touched){
      <div class="errormessage">Se requiere nombre de usuario</div>
      }@if(myForm.get('name')?.hasError('minlength') &&
      myForm.get('name')?.touched){
      <div class="errormessage">El nombre es muy corto</div>
      }
      <br />
      <mat-form-field class="example-full-width">
        <mat-label>Apellidos</mat-label>
        <input
          formControlName="surname"
          matInput
          type="text"
          placeholder=""
          value=""
          maxlength="20"
        /> </mat-form-field
      >@if(myForm.get('surname')!.invalid && myForm.get('surname')!.touched){
      <div class="errormessage">Se requiere apellido de usuario</div>
      } @if(myForm.get('surname')?.hasError('minlength') &&
      myForm.get('surname')?.touched){
      <div class="errormessage">El apellido es muy corto</div>
      } @if(myForm.get('surname')?.hasError('maxlength') &&
      myForm.get('surname')?.touched){
      <div class="errormessage">El apellido es demasiado largo</div>
      }<br />
      <mat-form-field class="example-full-width">
        <mat-label>Nick de Usuario</mat-label>
        <input
          formControlName="nick"
          matInput
          type="text"
          placeholder=""
          value=""
        /> </mat-form-field
      >@if(myForm.get('nick')!.invalid && myForm.get('nick')!.touched){
      <div class="errormessage">Se requiere nick de usuario</div>
      }<br />
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input
          formControlName="email"
          matInput
          type="email"
          placeholder=""
          value=""
        /> </mat-form-field
      >@if(myForm.get('email')!.invalid && myForm.get('email')!.touched){
      <div class="errormessage">Se requiere un email de usuario válido</div>
      } @if(myForm.get('email')?.hasError('minlength') &&
      myForm.get('email')?.touched){
      <div class="errormessage">El email es muy corto</div>
      } @if(myForm.get('email')?.hasError('maxlength') &&
      myForm.get('email')?.touched){
      <div class="errormessage">El email, es demasiado largo</div>
      }<br />
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input
          formControlName="password"
          matInput
          type="password"
          placeholder=""
          value=""
        /> </mat-form-field
      >@if(myForm.get('password')!.invalid && myForm.get('password')!.touched){
      <div class="errormessage">Introduce una contraseña.</div>
      } @if(myForm.get('password')?.hasError('minlength') &&
      myForm.get('password')?.touched){
      <div class="errormessage">La contraseña es muy corta</div>
      } @if(myForm.get('password')?.hasError('maxlength') &&
      myForm.get('password')?.touched){
      <div class="errormessage">La contraseña es demasiado larga</div>
      }<br />
      <mat-form-field class="example-full-width">
        <mat-label>Repetir Password</mat-label>
        <input
          formControlName="repeatpassword"
          matInput
          type="password"
          placeholder=""
          value=""
        /> </mat-form-field
      ><br />
      @if(myForm.get('repeatpassword')?.hasError('required') &&
      myForm.get('repeatpassword')?.touched){
      <div class="errormessage">Repite la contraseña de arriba</div>
      } @if(myForm.get('repeatpassword')?.hasError('minlength') &&
      myForm.get('repeatpassword')?.touched){
      <div class="errormessage">La contraseña es muy corta</div>
      } @if(myForm.get('repeatpassword')?.hasError('maxlength') &&
      myForm.get('repeatpassword')?.touched){
      <div class="errormessage">La contraseña es demasiado larga</div>
      } @if(!myForm.get('repeatpassword')?.hasError('required') &&
      myForm.get('repeatpassword')?.value != myForm.get('password')?.value){
      <div class="errormessage">Las contraseñas no son idénticas</div>
      }<br />
    </div>

    <div class="derecha">
      <input
        type="file"
        #findImage
        name="imagen"
        id=""
        (change)="handleImageUpload($event)"
        style="display: none"
      />
      <button
        mat-flat-button
        class="estilosbtnsecundario"
        (click)="buscarImagen($event)"
      >
        Añadir imagen
      </button>

      <img
        class="imgPerfil"
        [src]="imagenCargada"
        alt="imagenGuardada"
        srcset=""
      /><br />
    </div>

    <div class="generos">
      <h3 class="titulogeneros">
        Para poder ofrecerle un mejor servicio, seleccione al menos 1 género de
        su interés:
      </h3>
      <div class="generos_uno">
        <mat-checkbox
          class="example-margin"
          value="1"
          (change)="selectTheme($event)"
          >Literatura</mat-checkbox
        >
        <mat-checkbox
          class="example-margin"
          value="2"
          (change)="selectTheme($event)"
          >Viajes</mat-checkbox
        >
        <mat-checkbox
          class="example-margin"
          value="3"
          (change)="selectTheme($event)"
          >Tiempo Libre</mat-checkbox
        >
        <mat-checkbox
          class="example-margin"
          value="4"
          (change)="selectTheme($event)"
          >Deportes</mat-checkbox
        >
      </div>
      <div class="generos_dos">
        <mat-checkbox
          class="example-margin"
          value="5"
          (change)="selectTheme($event)"
          >Videojuegos</mat-checkbox
        >
        <mat-checkbox
          class="example-margin"
          value="6"
          (change)="selectTheme($event)"
          >Reuniones Sociales</mat-checkbox
        >
        <mat-checkbox
          class="example-margin"
          value="7"
          (change)="selectTheme($event)"
          >Cultura</mat-checkbox
        >
        <mat-checkbox
          class="example-margin"
          value="8"
          (change)="selectTheme($event)"
          >Tecnologías</mat-checkbox
        >
      </div>
      <div class="generos_tres">
        <mat-checkbox
          class="example-margin"
          value="9"
          (change)="selectTheme($event)"
          >Artes Escénicas</mat-checkbox
        >
        <mat-checkbox
          class="example-margin"
          value="10"
          (change)="selectTheme($event)"
          >Ocio</mat-checkbox
        >
        <mat-checkbox
          class="example-margin"
          value="11"
          (change)="selectTheme($event)"
          >Negocios</mat-checkbox
        >
        <mat-checkbox
          class="example-margin"
          value="12"
          (change)="selectTheme($event)"
          >Otros</mat-checkbox
        >
      </div>
    </div>

    <div class="opciones">
      <input
        type="submit"
        [disabled]="myForm.invalid"
        value="Únete a Eventalia"
      />
      <button
        mat-flat-button
        class="estilosbtnsecundario"
        (click)="iraEventos($event)"
      >
        Ver todos los eventos
      </button>
    </div>

    <!-- <div class="derecha">
            <label for="imagen">Añadir imagen: </label>
            <button mat-flat-button class="estilosbtnsecundario" (click)="buscarImagen()">Añadir imagen</button>
            <input type="file" #findImage name="imagen" id="" (change)="handleImageUpload($event)" style="display: none;">
            <img class="imgPerfil" [src]="imagenCargada" alt="imagenGuardada" srcset=""><br>
        </div> -->
  </form>
</section>
