<section class="welcome">
  <div class="transparent">
    <h2>Bienvenido a Eventalia</h2>
    <h3>Porque la vida se vive por momentos inolvidables</h3>
    <button mat-flat-button class="estilosbtnprincipal" (click)="openDialog('0ms', '0ms')">Únete a Eventalia</button>
  </div>
    

</section>

<section class="nosotros">
  <h1>¿Qué es Eventalia?</h1>

  <h3>Eventalia es tu nueva aplicación social para eventos. Ya sea para buscar algo que hacer en tu tiempo libre, u organizar un evento para ti y tus conocidos, en Eventalia te ofrecemos una herramienta
    para promocionarlo. Es muy facil: Registrate, Crea un Evento y compártelo. Otros usuarios quedarán informados al instante. ¿A qué esperas? únete a Eventalia.
  </h3>
</section>

<section class="eventos_activos">
    <div class="eventos_head">
        <h3>Eventos Activos</h3>

    <button mat-flat-button id="eventfull" class="estilosbtnsecundario" [routerLink]="['/listaeventos']">Ver todos los eventos</button>
    
    </div>

    
    
    <!-- <div class="lista_eventos_for">
      @for (event of list_events; track event.id) {
        <div class="personal_card">
          <div class="imagen">
            <a [routerLink]="['/datosEvento', event.id]"><img [src]="event.img" alt=""></a> 
          </div>
          <div class="datos">
            <h3 class="nombre-evento">{{event.nombre}}</h3>
            <p class="organizador">{{event.organizador}}</p>
            <p class="fecha-hora">{{event.fecha_hora}}</p>
            <p class="ciudad">{{event.ciudad}}</p>
          </div>
          <button class="hidden-btn" mat-button [routerLink]="['/datosEvento', event.id]">Mas información</button>
        </div>
      }
    </div> -->


    <section class="lista_eventos">
      @for (event of list_events; track event.id) {
        <div class="personal_card">
          <div class="imagen">
            <a [routerLink]="['/datosEvento', event.id]"><img [src]="event.img" alt=""></a> 
          </div>
          <div class="datos">
            <h3 class="nombre-evento">{{event.nombre}}</h3>
            <p class="organizador">{{event.organizador}}</p>
            <p class="fecha-hora">{{event.fecha_hora}}</p>
            <p class="ciudad">{{event.ciudad}}</p>
          </div>
          <button class="hidden-btn" mat-button [routerLink]="['/datosEvento', event.id]">Mas información</button>
        </div>
      }
    </section>
</section>

<section class="slogan">
    <img src="../../../assets/img/events.jpg" alt="imagen de slogan" srcset="">
    <h3>Sea cual sea tu edad, residencia o interes... ¡Encuentra un evento para tí!</h3>
</section>

<section class="generos">
    <div class="generos_head">
      <h3>Géneros populares</h3>
    </div>
    
    <section class="lista_generos">
      <div class="genero">
        <img src="./../../../assets/img/tipoevento1.jpg" alt="" srcset="">
        <h4>Tiempo Libre</h4>
      </div>
      <div class="genero">
        <img src="./../../../assets/img/tipoevento2.jpg" alt="" srcset="">
        <h4>Viajes</h4>
      </div>
      <div class="genero">
        <img src="./../../../assets/img/tipoevento3.jpg" alt="" srcset="">
        <h4>Deportes</h4>
      </div>
      <div class="genero">
        <img src="./../../../assets/img/tipoevento4.jpg" alt="" srcset="">
        <h4>Cultura</h4>
      </div>

        
        
        
        
        <!-- Aquí irían un conjunto de enlaces con imágenes -->
    </section>
</section>
