<section class="welcome">
  <div class="transparent">
    <h2>Bienvenido a Eventalia</h2>
    <h3>Porque la vida se vive por momentos inolvidables</h3>
    <button mat-flat-button class="estilosbtnsecundario" (click)="openDialog('0ms', '0ms')">Unete a Eventalia</button>
  </div>
    

</section>

<section class="eventos_activos">
    <div class="eventos_head">
        <h3>Eventos Activos</h3>

    <button mat-flat-button id="eventfull" class="estilosbtnprincipal" [routerLink]="['/listaeventos']">Ver todos los eventos</button>
    
    </div>
    

    <section class="lista_eventos">
        <mat-card class="example-card">
            <mat-card-header class="uno">
              <mat-card-title>Feria del Caballo Jerez 2024</mat-card-title>
              <mat-card-subtitle>Ayuntamiento de Jerez</mat-card-subtitle>
            </mat-card-header>
            <img class="dos" mat-card-image src="../../../assets/img/feria-caballo-jerez.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content class="tres">
              <p>
                Recinto Ferial, Jerez de la Frontera, Cádiz
              </p>
            </mat-card-content>
            <mat-card-actions class="cuatro">
              <button mat-button [routerLink]="['/datosEvento']">Mas información</button>
              
            </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-header class="uno">
              <mat-card-title>Salón del Manga Chiclana 2024</mat-card-title>
              <mat-card-subtitle>Ayuntamiento de Chiclana de la Frontera</mat-card-subtitle>
            </mat-card-header>
            <img class="dos" mat-card-image src="../../../assets/img/salon-manga-chiclana.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content class="tres">
              <p>
                Sala Box, Chiclana de la frontera, Cádiz
              </p>
            </mat-card-content>
            <mat-card-actions class="cuatro">
              <button mat-button>Mas información</button>
              
            </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-header class="uno">
              <mat-card-title>Torneo de Ajedrez Verano 2024</mat-card-title>
              <mat-card-subtitle>Delegación de Cultura Provincia de Cádiz</mat-card-subtitle>
            </mat-card-header>
            <img class="dos" mat-card-image src="../../../assets/img/torneo-ajedrez.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content class="tres">
              <p>
                Casa de la Juventud, Cádiz, Cádiz
              </p>
            </mat-card-content>
            <mat-card-actions class="cuatro">
              <button mat-button>Mas información</button>
              
            </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
            <mat-card-header class="uno">
              <mat-card-title>Torneo de Laser Tag</mat-card-title>
              <mat-card-subtitle>Casa de la Juventud Chiclana</mat-card-subtitle>
            </mat-card-header>
            <img class="dos" mat-card-image src="../../../assets/img/laser-tag.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content class="tres">
              <p>
                Sala Box, Chiclana de la frontera, Cádiz
              </p>
            </mat-card-content>
            <mat-card-actions class="cuatro">
              <button mat-button>Mas información</button>
              
            </mat-card-actions>
        </mat-card>
    </section>
</section>

<section class="slogan">
    <img src="../../../assets/img/events.jpg" alt="imagen de slogan" srcset="">
    <h3>Sea cual sea tu edad, residencia o interes... ¡Encuentra un evento para tí!</h3>
</section>

<section class="generos">
    <h3>Géneros populares</h3>
    <section class="lista_generos">
        <img src="./../../../assets/img/tipoevento1.jpg" alt="" srcset="">
        <img src="./../../../assets/img/tipoevento2.jpg" alt="" srcset="">
        <img src="./../../../assets/img/tipoevento3.jpg" alt="" srcset="">
        <img src="./../../../assets/img/tipoevento4.jpg" alt="" srcset="">
        <!-- Aquí irían un conjunto de enlaces con imágenes -->
    </section>
</section>
