footer{
    height: 15rem;
    background-color: #d9d9d9;

}

.menu_footer{
    padding-top: 1rem;
}

.menu_footer, .copyright, .social{
    width: 80%;
    margin: auto;
}

@media only screen and (max-width: 426px) {
  footer{
    height: 25rem;
    background-color: #d9d9d9;

  }
}
