<footer>
    <div class="menu_footer">
      <p>Tu cuenta</p>
      <a href="#">Registrarse como usuario</a><br>
      <a href="#">Registrarse como organización</a><br>
      <a href="#" (click)="iniciar_login($event)">Iniciar Sesión en Eventalia</a><br>
      <p>Eventos</p>
      <a href="#">Lista de Eventos</a>
    </div>
    <section class="Copyright">
      <p>Diseño realizado por Alban Loubet Vergara para Desarrollo de Aplicaciones Web. Todos los derechos reservados.</p>
    </section>
    <section class="Social">
      <!-- Aquí podrías incluir enlaces a tus redes sociales -->
    </section>
  </footer>